.main-content-form-product{
    background-color: white;
    margin: 15px;
    border-radius: 5px;
}
.main-content-form-product .card-form-product .card-header{

    font-weight: 500;
    font-size: 1.2em;
}
#menu-productCategory .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper
,#menu-variation .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper{
    max-height: calc(50% - 96px);
    overflow: auto;
    scrollbar-width: none; /* Dành cho Firefox */
    -ms-overflow-style: none;
}
#menu-productCategory .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover
,#menu-variation .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root:hover {
    -webkit-text-decoration: none;
    text-decoration: none;
    color: var(--bg-trade);
    /* background-color: rgba(0, 0, 0, 0.04); */
}