.form-control  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #80bdff !important;
    box-shadow: 0 0 0 .2rem rgba(0, 123, 255, .25)  !important;
}
.form-control .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    font-family: unset;
    font-weight: 400;
}
.main-content-form .form-control .MuiOutlinedInput-root .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: .375rem .75rem;
    font-size: 1rem;
}
.main-content-form .form-control .MuiOutlinedInput-root .icon-button:hover{
    background-color: unset !important;
}

.main-content-form .form-control .MuiOutlinedInput-root .icon-button .MuiTouchRipple-root {
    display: none;
}
.dark .form-control .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    color: var(--font-color-dark);
}
.dark .form-control  .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
    box-shadow: none !important;
}