.main-content-form .MuiFormControl-root{
    width: 100%;
}
.main-content-form .MuiFormControl-root .MuiInputBase-root ,.main-content-form .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    height: 38px;
}
.dark .main-content-form .MuiFormControl-root .css-1pnmrwp-MuiTypography-root{
    color: var(--font-color-dark);
}
.main-content-form .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 0;
}