.css-1u3bzj6-MuiFormControl-root-MuiTextField-root .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    padding-left: 15px;
}
.dark .css-1u3bzj6-MuiFormControl-root-MuiTextField-root .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input{
    color: var(--font-color-dark);
    padding-left: 15px;
}