.main-content-search{
    margin-left: 10px;
}
.main-content-search i:hover{
    cursor: pointer;
}
.dark .main-content-search .main-content-search-input{
    background-color: #242526;
    color: #f1f1f1;
}
.main-content-search .main-content-search-input{
    width: 0;
    border: none;
    height: 32px;
    transition: 0.5s ease;
    color: #78909C;
}

.main-content-search  .focus{
    width: 260px;
}
.main-content-search .main-content-search-input:focus{
    outline: none;
}

.main-content-search  i{
    font-size:2em;
    color: var(--font-color-light);
}
.dark .main-content-search  i{
    color: var(--font-color-dark);
}
.main-content .main-content-header-left .main-content-search{
    display: flex;
    align-items: center;
}
@media only screen and (max-width: 768px){
    .main-content .main-content-header-left .main-content-search{
        display: none;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .main-content .main-content-header-left .main-content-search{
        display: none ;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1280px){
    .main-content .main-content-header-left .main-content-search{
        display: none;
    }
}
@media only screen and (min-width: 1280) and (max-width: 1366px){
    
}
@media only screen and (min-width: 1366px) {
    .header-search-admin-mb{
        display: none;
    }
}